{% extends "abstract/base.html" %}

{% block title %}Mit Token registrieren{% endblock %}

{% block register %}active" aria-current="page{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" style="width: 27rem;">
            {% csrf_token %}
            {% if post %}
                <input class="form-control-plaintext" type="text" name="username" value="{{ username }}">
                <input class="form-control" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Passwort" required>
                <ul>
                    <li>mindestens 8 Zeichen</li>
                    <li>jeweils mindestens ein Groß- und Kleinbuchstabe</li>
                    <li>mindestens eine Ziffer</li>
                </ul>
                <input class="form-control" type="password" name="password_repeat" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Passwort wiederholen" required>
                <input class="btn btn-secondary mt-4" type="submit" value="Registrieren">
            {% else %}
                <input class="form-control" type="text" name="token" placeholder="token" required>
                <input class="btn btn-secondary mt-4" type="submit" value="Mit dem Token registrieren">
            {% endif %}
        </form>
    </div>
{% endblock %}
