{% extends "abstract/base.html" %}

{% block title %}Mit Token registrieren{% endblock %}

{% block register %}active" aria-current="page{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" style="width: 27rem;">
            {% csrf_token %}
            {% if token %}
                <div id="pass_warn" class="alert alert-danger mx-auto d-none" style="width: fit-content;">
                    Die Passwörter stimmen nicht überein
                </div>
                <input class="form-control-plaintext" type="text" name="username" value="{{ username }}" readonly>
                <input type="hidden" name="token" value="{{ token }}" readonly>
                <input id="pass1" class="form-control" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Passwort" required>
                <ul>
                    <li>mindestens 8 Zeichen</li>
                    <li>jeweils mindestens ein Groß- und Kleinbuchstabe</li>
                    <li>mindestens eine Ziffer</li>
                </ul>
                <input id="pass2" class="form-control" type="password" name="password_repeat" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Passwort wiederholen" required>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-secondary mt-4" type="submit" value="Registrieren">
                </div>
                <script>
                    document.querySelector("form").onsubmit = function(){
                        if (document.getElementById("pass1").value != document.getElementById("pass2").value){
                            document.getElementById("pass_warn").classList.remove("d-none")
                            return false
                        }
                    }
                </script>
            {% else %}
                {% if wrong %}
                    <div class="alert alert-danger mx-auto" style="width: fit-content;">
                        Diesen Token gibt es nicht, oder er ist abgelaufen
                    </div>
                {% endif %}
                <input class="form-control" type="text" name="token" placeholder="Token" required>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-secondary mt-4" type="submit" value="Mit dem Token registrieren">
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
