{% extends "abstract/base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block update %}active" aria-current="page{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" style="width: 27rem;">
            {% csrf_token %}
            <input type="password" class="form-control"name="pass" placeholder="aktuelles Passwort" required>
            <br>
            <input type="password" class="form-control" name="new_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="neues Passwort" required>
            <ul>
                <li>mindestens 8 Zeichen</li>
                <li>jeweils mindestens ein Groß- und Kleinbuchstabe</li>
                <li>mindestens eine Ziffer</li>
            </ul>
            <input type="password" class="form-control" name="new_pass_confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="neues Passwort wiederholen" required>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-secondary mt-4" value="Passwort ändern">
            </div>
        </form>
    </div>
{% endblock %}
