{% extends "abstract/base.html" %}

{% block title %}Benutzerverwaltung{% endblock %}

{% block manage %}active" aria-current="page{% endblock %}

{% block admin_actions %}
    <a class="nav-link" href="{% url "users-new" %}">Neue/r Trainer*in</a>
{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <select id="type" name="type" class="form-select mb-2">
            <option value="">Alle</option>
            <option value="a" selected>Aktive</option>
            <option value="au">Aktive Judoka</option>
            <option value="at">Aktive Trainer*innen</option>
            <option value="i">Inaktive</option>
            <option value="iu">Inaktive Judoka</option>
            <option value="it">Inaktive Trainer*innen</option>
        </select>
        <input class="form-control" type="search"
            name="search" placeholder="Benutzer*in suchen..."
            hx-post=""
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#type, load"
            hx-target="#users"
            hx-include="#type"
            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
        <table class="table">
            <thead>
                <th>Benutzername</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="users">
            </tbody>
        </table>
    </div>
{% endblock %}
