{% extends "profiles/new.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with profile_name=profile.name %}Edit profile of {{ profile_name }}{% endblocktranslate %}{% endblock %}

{% block actions %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for profile as "profile_perms" %}
    {% if "view_profile" in profile_perms and request.user != profile.user %}
        <a class="nav-link" href="{% url "profiles-profile" profile.user.username %}">{% translate "Profile" %}</a>
    {% endif %}
        <a class="nav-link active" href="">{% translate "Edit" %}</a>
    {% if "manage_profile" in profile_perms %}
        <a class="nav-link" href="{% url "profiles-profile-manage" profile.user.username %}">{% translate "Manage" %}</a>
    {% endif %}
    {% if request.user == profile.created_by %}
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#delete_modal">{% translate "Delete" %}</button>
    {% endif %}
    <input class="nav-link" type="submit" form="profile_form" data-type="save" value="{% translate "Save" %}">
    <input class="nav-link" type="submit" form="profile_form" value="{% translate "Finish" %}">
{% endblock %}

{% block hidden_data2 %}
    <ul id="hidden_own">
        {% for t in own_techniques %}
            <li class="own_data"
                data-id="{{ t.id }}"
                data-technique="{{ t.technique.id }}"
                data-left="{{ t.left_position.number }}"
                data-right="{{ t.right_position.number }}"
                data-state="{{ t.state }}"
                data-side="{% if t.side %}l{% else %}r{% endif %}"
                data-direction="{{ t.direction }}"
            ></li>
        {% endfor %}
    </ul>
    <ul id="hidden_pos">
        {% for p in positions %}
            <li class="pos_data"
                data-id="p{% if p.side %}L{% else %}R{% endif %}{{ p.number }}"
                data-y="{{ p.y }}"
                data-x="{{ p.x }}"
                data-model_id="{{ p.id }}"
            ></li>
        {% endfor %}
    </ul>
    <ul id="hidden_ranks">
        {% for item in technique_ranks %}
            <li class="rank_data"
                data-id="{{ item.id }}"
                data-type="{{ item.type }}"
                data-technique="{{ item.technique.id }}"
                data-number="{{ item.number }}"
            ></li>
        {% endfor %}
        {% for item in combination_rank %}
            <li class="rank_data"
                data-id="{{ item.id }}"
                data-type="combination"
                data-technique1="{{ item.technique1.id }}"
                data-technique2="{{ item.technique2.id }}"
                data-number="{{ item.number }}"
            ></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block opts_left %}{% if profile.primary_side != 2 %} checked {% endif %}{% endblock %}

{% block opts_right %}{% if profile.primary_side != 1 %} checked {% endif %}{% endblock %}

{% block script3 %}
    <div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_modal_label">{% translate "Delete" %}?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% translate "Really delete profile permanently?" %}{% if profile.user.is_active %}<br>{% blocktranslate with username=profile.user.username %}The user {{ username }} won't ever be able to have a profile again.{% endblocktranslate %}{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <button type="button" class="btn btn-danger" onclick="post_data('delete')">{% translate "Ok" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script> 
        document.querySelectorAll(".pos_data").forEach(pos => {
            position = document.getElementById(pos.dataset["id"])
            position.classList.add("active")
            document.getElementById(getMatchingId(position.id)).classList.add("active")
            placeRelative(
                position,
                pos.dataset.y.replace(",", "."),
                pos.dataset.x.replace(",", ".")
            )
            position.addEventListener("mousedown", mouseDownPos)
            image.addEventListener("mousedown", mouseDownImg)
            position.setAttribute("data-id", pos.dataset["model_id"])
        })

        document.querySelectorAll(".own_data").forEach(own => {
            add_own(parseInt(own.dataset["direction"]), own.dataset)
        })

        document.querySelectorAll(".rank_data").forEach(item => {
            add_rank_item(item.dataset.type, item.dataset)
        })
    </script>
{% endblock %}
