{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with profile_name=profile.name %}Manage profile of {{ profile_name }}{% endblocktranslate %}{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script>
        async function copy_token(button){
            let token = button.parentElement.children[0].value
            await navigator.clipboard.writeText(token)
            button.children[0].classList.replace("bi-clipboard", "bi-clipboard-check")
        }
        function toggle_token(button){
            var input = button.parentElement.children[0]
            if (input.type == "text"){
                input.type = "password"
                button.children[0].classList.replace("bi-eye-slash", "bi-eye")
            } else {
                input.type = "text"
                button.children[0].classList.replace("bi-eye", "bi-eye-slash")
            }
        }
    </script>
{% endblock %}

{% block actions %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for profile as "profile_perms" %}
    {% if "view_profile" in profile_perms and request.user != profile.user %}
        <a class="nav-link" href="{% url "profiles-profile" profile.user.username %}">{% translate "Profile" %}</a>
    {% endif %}
    {% if "change_profile" in profile_perms %}
        <a class="nav-link" href="{% url "profiles-profile-edit" profile.user.username %}">{% translate "Edit" %}</a>
    {% endif %}
    <a class="nav-link active" href="">{% translate "Manage" %}</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <h2 class="col text-nowrap text-center">{% blocktranslate with profile_name=profile.name %}Access to profile of {{ profile_name }}{% endblocktranslate %}</h2>
            {% if request.user == profile.created_by or request.user.is_admin or request.user.is_staff %}
                <form method="post" class="col">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        {% if not profile.user.token and not profile.user.is_active %}
                            <button class="btn btn-secondary text-nowrap" name="add">{% translate "Key for connected user" %}</button>
                        {% else %}
                            {% if not profile.user.is_active %}
                                <table class="text-center">
                                    <tr class="text-nowrap">
                                        {% if profile.user.token.valid_for < 1 %}
                                            <td class="pe-3">{% translate "Key expired, without being used" %}</td>
                                            <td><button class="btn btn-secondary text-nowrap" name="renew">{% translate "Renew key" %}</button></td>
                                        {% else %}
                                            <td class="pe-2"><button type="button" class="btn btn-secondary text-nowrap" data-bs-toggle="modal" data-bs-target="#token_modal">{% translate "Show key" %}</button></td>
                                            <div class="modal fade" id="token_modal" tabindex="-1" aria-labelledby="token_modal_label" aria-hidden="true">
                                                <div class="modal-dialog ">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="token_modal_label">{% translate "Key" %}</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <li>{{ days }}</li>
                                                                <li>
                                                                    {% translate "Username" %}: {{ profile.user }}
                                                                </li>
                                                            </ul>
                                                            <div class="input-group">
                                                                <input id="token" type="password" class="form-control" value="{{ profile.user.token }}" aria-label="Key" readonly>
                                                                <button class="btn btn-outline-secondary" type="button" onclick="toggle_token(this)"><i class="bi bi-eye"></i></button>
                                                                <button class="btn btn-outline-secondary" type="button" onclick="copy_token(this)"><i class="bi bi-clipboard"></i></button>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Ok" %}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <td><button class="btn btn-secondary text-nowrap" name="delete">{% translate "Delete key" %}</button></td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <form hx-post=""
            hx-swap="innerHTML settle:3s"
            hx-target="#success">
                {% csrf_token %}
                <select id="permission" name="permission" class="form-select mb-2 mx-auto">
                    <option value="view_profile">{% translate "View" %}</option>
                    <option value="change_profile">{% translate "Edit" %}</option>
                    <option value="manage_profile">{% translate "Manage" %}</option>
                </select>
                <input class="form-control mx-auto" id="search" type="search"
                    name="search" placeholder="{% translate "Search user" %}..."
                    hx-post=""
                    hx-target="#users"
                    hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                    hx-include="#permission"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
            <table class="table mx-auto mt-4" style="max-width: 40rem;">
                <thead>
                <th>{% translate "User" %}</th>
                </thead>
                <tbody id="users"></tbody>
            </table>
            <table class="mx-auto text-center mt-4">
                <tr>
                    <td>
                        <input class="btn btn-secondary" type="submit" name="update" value="{% translate "Save" %}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="success" class="text-center mt-2"></div>
                    </td>
                </tr>
            </table>
            <style>
                #success.htmx-settling {
                    opacity: 100;
                }

                #success {
                    opacity: 0;
                    transition: opacity 3s ease-out;
                }
            </style>
            <br><br>
        </form>
    </div>
{% endblock %}
