{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with profile_name=profile.name %}Manage profile of {{ profile_name }}{% endblocktranslate %}{% endblock %}

{% block style %}
    <script>
        async function copy_token(button){
            let token = button.parentElement.children[0].value
            await navigator.clipboard.writeText(token)
            button.children[0].classList.replace("bi-clipboard", "bi-clipboard-check")
        }
        function toggle_token(button){
            var input = button.parentElement.children[0]
            if (input.type == "text"){
                input.type = "password"
                button.children[0].classList.replace("bi-eye-slash", "bi-eye")
            } else {
                input.type = "text"
                button.children[0].classList.replace("bi-eye", "bi-eye-slash")
            }
        }
    </script>
{% endblock %}

{% block actions %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for profile as "profile_perms" %}
    {% if "view_profile" in profile_perms and request.user != profile.user %}
        <a class="nav-link" href="{% url "profile" profile.user.username %}">{% translate "Profile" %}</a>
    {% endif %}
    {% if "change_profile" in profile_perms %}
        <a class="nav-link" href="{% url "edit-profile" profile.user.username %}">{% translate "Edit" %}</a>
    {% endif %}
    <a class="nav-link active" href="">{% translate "Manage" %}</a>
    {% if profile.manager == request.user %}
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#manager_modal">{% translate "Transfer management rights" %}</button>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <h2 class="col text-nowrap text-center">{% blocktranslate with profile_name=profile.name %}Access to profile of {{ profile_name }}{% endblocktranslate %}</h2>
            {% if request.user == profile.manager or request.user.is_staff %}
                <form method="post" class="col">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        {% if not profile.user.token and not profile.user.is_active %}
                            <button class="btn btn-secondary text-nowrap" name="add"
                                hx-post=""
                                hx-trigger="click"
                                hx-target="#token_group"
                                hx-on::after-request="if(event.detail.successful) new bootstrap.Modal('#token_modal').show()"
                                hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                            >{% translate "Key for connected user" %}</button>

                        {% else %}
                            {% if not profile.user.is_active %}
                                <table class="text-center">
                                    <tr class="text-nowrap">
                                        {% if profile.user.token.valid_for < 1 %}
                                            <td class="pe-3">{% translate "Key expired, without being used" %}</td>
                                            <td><button class="btn btn-secondary text-nowrap" name="renew"
                                                    hx-post=""
                                                    hx-trigger="click"
                                                    hx-target="#token_group"
                                                    hx-on::after-request="if(event.detail.successful) new bootstrap.Modal('#token_modal').show()"
                                                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                                                >{% translate "Renew key" %}</button></td>
                                        {% endif %}
                                        <td><button class="btn btn-secondary text-nowrap" name="delete">{% translate "Delete key" %}</button></td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="token_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="token_modal_label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="token_modal_label">{% translate "Generated key" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>{{ days }}</li>
                        <li>
                            {% translate "Username" %}: {{ profile.user }}
                        </li>
                        <li>
                            {% translate "Copy the key now - You won't able to see it again" %}
                        </li>
                    </ul>
                    <div id="token_group" class="input-group"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Ok" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("token_modal").addEventListener("hide.bs.modal", () => {
            location.reload();
        });
    </script>

    {% if profile.manager == request.user %}
        <div class="modal fade" id="manager_modal" tabindex="-1" aria-labelledby="manager_modal_label" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="manager_modal_label">{% translate "Transfer management rights" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="manager_form" method="post">
                            {% csrf_token %}
                            <select class="form-select"name="manager" required>
                                <option value="" selected>{% translate "Select new manager" %}</option>
                                {% for i in trainers %}
                                    <option value="{{ i.username }}">{{ i.username }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                        <button type="submit" form="manager_form" class="btn btn-secondary">{% translate "Ok" %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <form hx-post=""
            hx-swap="innerHTML settle:3s"
            hx-target="#success">
                {% csrf_token %}
                <select id="permission" name="permission" class="form-select mb-2 mx-auto">
                    <option value="view_profile">{% translate "View" %}</option>
                    <option value="change_profile">{% translate "Edit" %}</option>
                </select>
                <input class="form-control mx-auto" id="search" type="search"
                    name="search" placeholder="{% translate "Search user" %}..."
                    aria-label="{% translate "Search user" %}"
                    hx-post=""
                    hx-target="#users"
                    hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                    hx-include="#permission"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
            <table class="table mx-auto mt-4" style="max-width: 40rem;">
                <thead>
                <th>{% translate "User" %}</th>
                </thead>
                <tbody id="users"></tbody>
            </table>
            <table class="mx-auto text-center mt-4">
                <tr>
                    <td>
                        <input class="btn btn-secondary" type="submit" name="update" value="{% translate "Save" %}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="success" class="text-center mt-2"></div>
                    </td>
                </tr>
            </table>
            <style>
                #success.htmx-settling {
                    opacity: 100;
                }

                #success {
                    opacity: 0;
                    transition: opacity 3s ease-out;
                }
            </style>
            <br><br>
        </form>
    </div>
{% endblock %}
