{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% blocktranslate with profile_name=profile.name %}Manage profile of {{ profile_name }}{% endblocktranslate %}{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script>
        const delay = ms => new Promise(res => setTimeout(res, ms))
        async function copy_token(token){
            const button = document.getElementById("copy")
            await navigator.clipboard.writeText(token)
            button.innerHTML = "{% translate "Key copied" %}"
            button.classList.add("active")
            await delay(1500)
            button.innerHTML = "{% translate "Copy key" %}"
            button.classList.remove("active")
        }
    </script>
{% endblock %}

{% block actions %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for profile as "profile_perms" %}
    {% if "view_profile" in profile_perms and request.user != profile.user %}
        <a class="nav-link" href="{% url "profiles-profile" profile.user.username %}">{% translate "Profile" %}</a>
    {% endif %}
    {% if "change_profile" in profile_perms %}
        <a class="nav-link" href="{% url "profiles-profile-edit" profile.user.username %}">{% translate "Edit" %}</a>
    {% endif %}
    <a class="nav-link active" href="">{% translate "Manage" %}</a>
{% endblock %}

{% block content %}
    {% if user == profile.created_by %}
        <div class="container">
            <div class="row mb-3">
                <h2 class="col text-nowrap text-center">{% blocktranslate with profile_name=profile.name %}Access to profile of {{ profile_name }}{% endblocktranslate %}</h2>
                <form method="post" class="col">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        {% if not profile.user.token and not profile.user.is_active %}
                            <button class="btn btn-secondary text-nowrap" name="add">{% translate "Key for connected user" %}</button>
                        {% else %}
                            {% if not profile.user.is_active %}
                                <table class="text-center">
                                    <tr class="text-nowrap">
                                        {% if profile.user.token.valid_for < 1 %}
                                            <td class="pe-3">{% translate "Key expired, without being used" %}</td>
                                            <td><button class="btn btn-secondary text-nowrap" name="renew">{% translate "Renew key" %}</button></td>
                                        {% else %}
                                            <td class="pe-3">{{ days }}</td>
                                            <td class="pe-2"><button id="copy" class="btn btn-secondary text-nowrap" onclick="copy_token('{{ profile.user.token }}'); return false;">{% translate "Copy key" %}</button></td>
                                        {% endif %}
                                        <td><button class="btn btn-secondary text-nowrap" name="delete">{% translate "Delete key" %}</button></td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <form hx-post=""
            hx-swap="innerHTML settle:3s"
            hx-target="#success">
                {% csrf_token %}
                <select id="permission" name="permission" class="form-select mb-2 mx-auto">
                    <option value="view_profile">{% translate "View" %}</option>
                    <option value="change_profile">{% translate "Edit" %}</option>
                    <option value="manage_profile">{% translate "Manage" %}</option>
                </select>
                <input class="form-control mx-auto" id="search" type="search"
                    name="search" placeholder="{% translate "Search user" %}..."
                    hx-post=""
                    hx-target="#users"
                    hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                    hx-include="#permission"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
            <table class="table mx-auto mt-4" style="max-width: 40rem;">
                <thead>
                <th>{% translate "User" %}</th>
                </thead>
                <tbody id="users"></tbody>
            </table>
            <table class="mx-auto text-center mt-4">
                <tr>
                    <td>
                        <input class="btn btn-secondary" type="submit" name="update" value="{% translate "Save" %}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="success" class="text-center mt-2"></div>
                    </td>
                </tr>
            </table>
            <style>
                #success.htmx-settling {
                    opacity: 100;
                }

                #success {
                    opacity: 0;
                    transition: opacity 3s ease-out;
                }
            </style>
            <br><br>
        </form>
    </div>
{% endblock %}
