{% extends "abstract/profile_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktranslate with profile_name=profile.name %}Profile of {{ profile_name }}{% endblocktranslate %}{% endblock %}

{% block own %}
    {% if request.user == profile.user %}active" aria-current="page{% endif %}
{% endblock %}

{% block actions %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for profile as "profile_perms" %}
    {% if request.user != profile.user %}
        <a class="nav-link active" href="">{% translate "Profile" %}</a>
    {% endif %}
    {% if "change_profile" in profile_perms %}
        <a class="nav-link" href="{% url "edit-profile" profile.user.username %}">{% translate "Edit" %}</a>
    {% endif %}
    {% if "manage_profile" in profile_perms %}
        <a class="nav-link" href="{% url "manage-profile" profile.user.username %}">{% translate "Manage" %}</a>
    {% endif %}
    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#info_modal">{% translate "Info" %}</button>
{% endblock %}

{% block style2 %}
    <link rel="stylesheet" href="{% static "style/profile.css" %}">
{% endblock %}

{% block hidden_data %}
    <div id="hidden_own">
        {% for t in own_techniques %}
            <table class="own_row" data-direction={{ t.direction }}>
                <tr>
                    <td class="own_technique p-0 text-center">
                        <p>{{ t.technique }}</p>
                        {% if t.side %}
                            <div class="d-inline-block mb-3 me-4 position active l">{% translate "Left_short" %}</div>
                        {% else %}
                            <div class="d-inline-block mb-3 me-4 position active r">{% translate "Right_short" %}</div>
                        {% endif %}
                        <div class="d-inline-block mb-3 position active l">{{ t.left_position.number }}</div>
                        <div class="d-inline-block mb-3 me-4 position active r">{{ t.right_position.number }}</div>
                        {{ t.state_local }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
    <ul id="hidden_pos">
        {% for p in positions %}
            <li class="pos_data"
                data-id="p{% if p.side %}L{% else %}R{% endif %}{{ p.number }}"
                data-y={{ p.y }}
                data-x={{ p.x }}
            ></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block general_info %}
    <div>
        <p><b>{% translate "First name" %}:</b> {{ profile.name }}</p>
    </div>
    <div>
        <p><b>{% translate "Last name" %}:</b> {{ profile.last_name }}</p>
    </div>
    <div>
        <p><b>{% translate "Year group" %}:</b> {{ profile.year }}</p>
    </div>
    <div>
        <p><b>{% translate "Weight" %}:</b> {{ profile.weight }}kg</p>
    </div>
{% endblock %}

{% block opts_left %}onclick="return false" {% if profile.primary_side != 2 %} checked {% endif %}{% endblock %}

{% block opts_right %}onclick="return false" {% if profile.primary_side != 1 %} checked {% endif %}{% endblock %}

{% block special %}
    {% for item in special_rank %}
        <tr class="rank_item">
            <td> <b>{{ item.number }}</b> </td>
            <td>{{ item.technique }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block ground %}
    {% for item in ground_rank %}
        <tr class="rank_item">
            <td> <b>{{ item.number }}</b> </td>
            <td>{{ item.technique }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block combination %}
    {% for item in combination_rank %}
        <tr class="rank_item">
            <td> <b>{{ item.number }}</b> </td>
            <td>{{ item.technique1 }} + {{ item.technique2 }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block script2 %}
    <div class="modal fade" id="info_modal" tabindex="-1" aria-labelledby="info_modal_label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="info_modal_label">{% translate "Info" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b>{% translate "Managed by" %}:</b> {{ profile.manager }}<br>
                    <b>{% translate "Created" %}:</b> {{ profile.created_at }} <b>{% translate "by" %}</b> {{ profile.creator }}<br>
                    <b>{% translate "Last changed" %}:</b> {{ profile.changed_at }}{% if profile.changed_by %} <b>{% translate "by" %}</b> {{ profile.changed_by }}{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Ok" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll(".pos_data").forEach(pos => {
            position = document.getElementById(pos.dataset["id"])
            position.classList.add("active")
            document.getElementById(getMatchingId(position.id)).classList.add("active")
            placeRelative(
                position,
                pos.dataset.y.replace(",", "."),
                pos.dataset.x.replace(",", ".")
            )
        })

        document.querySelectorAll(".own_row").forEach(table => {
            $("#own" + table.dataset["direction"]).append(table.rows[0])
        })
    </script>
{% endblock %}
