{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% translate "Judo Profiles" %}{% endblock %}</title>
        <link rel="icon" href="{% static "favicon.svg" %}" type="text/plain">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <style>
            .nav-link {
                width: fit-content;
            }
            #noscript {
                display: none;
                width: fit-content;
            }
            .form-control, .form-select {
                max-width: 32rem;
            }
        </style>
        <noscript>
            <style>
                #noscript {
                    display: unset;
                }
                #script {
                    display: none;
                }
            </style>
        </noscript>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header class="sticky-top">
            <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" id="logo_container" href="{% url "profiles-home" %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="none" stroke="currentColor" stroke-width="8" width="27" height="27">
                            <circle cx="50" cy="50" r="45" />
                            <path d="M50 20L80 50L50 80L20 50Z" />
                            <circle fill="currentColor" cx="50" cy="50" r="4" />
                        </svg>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="nav" class="collapse navbar-collapse">
                        <div class="navbar-nav me-auto d-flex justify-content-center">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link {% block profiles %}{% endblock %}" href="{% url "profiles-profiles" %}">{% translate "Dashboard" %}</a>
                                {% if request.user.profile %}
                                <a class="nav-link {% block own %}{% endblock %}" href="{% url "profiles-profile" request.user.username %}">{% translate "Own profile"%}</a>
                                {% endif %}
                                {% block actions %}{% endblock %}
                                {% if request.user.is_superuser %}
                                    <a class="nav-link {% block manage %}{% endblock %}" href="{% url "users-manage" %}">{% translate "User management" %}</a>
                                {% endif %}
                                {% block admin_actions %}{% endblock %}
                            </div>
                            <div class="navbar-nav d-flex justify-content-end">
                                <span class="nav-link">{% translate "Hello" %} {{ request.user.first_name|default:request.user.username }}</span>
                                <button id="theme-selector" class="btn btn-secondary btn-sm" onclick="change_color_theme()"></button>
                                <a class="nav-link {% block update %}{% endblock %}" href="{% url "users-update" %}">{% translate "Manage account" %}</a>
                                <a class="nav-link" href="{% url "users-logout" %}">{% translate "Logout" %}</a>
                            {% else %}
                        </div>
                        <div class="navbar-nav d-flex">
                            <button id="theme-selector" class="btn btn-secondary btn-sm" onclick="change_color_theme()">Auto</button>
                            <a class="nav-link {% block login %}{% endblock %}" href="{% url "users-login" %}">{% translate "Login" %}</a>
                            <a class="nav-link {% block register %}{% endblock %}" href="{% url "users-register" %}">{% translate "Register with key" %}</a>
                            {% endif %}
                            <a class="nav-link {% block about %}{% endblock %}" href="{% url "profiles-about" %}">{% translate "About" %}</a>
                        </div>
                    </div>
                </div>
                <script src="{% static "script/colorscheme.js" %}"></script>
            </nav>
        </header>
        <div id="noscript" class="container position-absolute top-50 start-50 translate-middle text-center alert-danger alert">
            <h4>{% translate "This site only works with Javascript - to use this please activate it" %}</h4>
        </div>
        <div id="script" class="mx-2">
            {% block content %}{% endblock %}
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
