.move {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.option {
    display: inline-block;
    cursor: pointer;
}
.position {
    height: 16pt;
    width: 16pt;
    border-width: 4pt;
    border-color: grey;
    border-style: solid;
    text-align: center;
    font-weight: bold;
    user-select: none;
    box-sizing: unset;
}
.r {
    border-radius: 0px;
}
.l {
    border-radius: 50%;
}
#image {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
    visibility: hidden;
}
#choices {
    width: max-content;
    height: max-content;
    border-width: 3px;
    border-style: solid;
    padding: 6px;
}
#image_container {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 100%;
}
#image_desc {
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
}
button {
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    cursor: pointer;
}
#positions {
    border-width: 3px;
    border-style: solid;
    padding: 6px;
    margin: 3px;
}
#visual {
    width: fit-content;
}
.own_techniques {
    border-width: 3px;
    border-style: solid;
    padding: .25cm;
    width: 100%;
    height: 100%;
}
#own0, #own3 {
    left: 50%;
    position: relative;
}
.own_technique {
    padding: 2%;
    margin-top: 0%;
    text-align: center;
    vertical-align: middle;
}
#own_container, #ranks {
    border-width: 3px;
    border-style: solid;
}
#side_container {
    border-width: 3px;
    border-style: solid;
    margin-bottom: 7%;
    padding: 2.5%;
}
#general_container {
    border-width: 3px;
    border-style: solid;
    padding: 1%;
}
label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
    display: none;
}
#delete {
    display: block;
}
.number {
    display: inline;
}
#ranks {
    width: 100%;
}
.rank_item {
    text-align: center;
    vertical-align: middle;
}
#own {
    table-layout: fixed;
}
#main {
    table-layout: fixed;
    width: 100%;
}
.own_techniques {
    table-layout: fixed;
}
#own td {
    width: 50%;
}
#own tr {
    display: flex;
}
.pos {
    width: 40%;
}
.own_t {
    width: 60%;
}
.own_techniques td {
    width: 100%;
}
