.position {
    cursor: auto;
}
.table {
    display: inline-block;
    margin-right: 10%;
    border-color: black;
}
.table.l.no_margin {
    margin-right: 0%;
}
.own_technique {
    padding: 0px;
    text-align: center;
}
