{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static "style/main.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <body>
        <div id="hidden_data" class="hidden">
            <ul id="hidden_own">
                {% for t in own_techniques %}
                    <li class="own_data"
                        data-id="{{ t.id }}"
                        data-technique="{{ t.technique.id }}"
                        data-left="{{ t.left_position.number }}"
                        data-right="{{ t.right_position.number }}"
                        data-state="{{ t.state }}"
                        data-side="{% if t.side %}l{% else %}r{% endif %}"
                        data-direction="{{ t.direction }}"
                    ></li>
                {% endfor %}
            </ul>
            <ul id="hidden_pos">
                {% for p in positions %}
                    <li class="pos_data"
                        data-id="p{% if p.side %}L{% else %}R{% endif %}{{ p.number }}"
                        data-y="{{ p.y }}"
                        data-x="{{ p.x }}"
                        data-model_id="{{ p.id }}"
                    ></li>
                {% endfor %}
            </ul>
            <ul id="hidden_ranks">
                {% for item in technique_ranks %}
                    <li class="rank_data"
                        data-id="{{ item.id }}"
                        data-type="{{ item.type }}"
                        data-technique="{{ item.technique.id }}"
                        data-number="{{ item.number }}"
                    ></li>
                {% endfor %}
                {% for item in combination_rank %}
                    <li class="rank_data"
                        data-id="{{ item.id }}"
                        data-type="combination"
                        data-technique1="{{ item.technique1.id }}"
                        data-technique2="{{ item.technique2.id }}"
                        data-number="{{ item.number }}"
                    ></li>
                {% endfor %}
            </ul>
            <div id="hidden_t">
                {% for t in techniques %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}
            </div>
            <div id="hidden_st">
                {% for t in stechniques %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}
            </div>
            <div id="hidden_gt">
                {% for t in gtechniques %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div id="general_container">
                <p id="title">Kämpferprofil von</p>
                <input type="text" id="last_name" placeholder="Nachname" value="{{ fighter.last_name }}">, 
                <input type="text" id="name" placeholder="Vorname" value="{{ fighter.name }}">
                <input type="number" id="year" min="1900" max="2099" step="1" value="{{ fighter.year }}" placeholder="Jahrgang">
                <input type="number" id="weight" min="30" max="200" step="1" placeholder="Gewicht (kg)" value="{{ fighter.weight }}">
            </div>
            <table id="main">
                <tr>
                    <td>
                        <div id="visual">
                            <div id="positions">
                                <table>
                                    <tr>
                                        <td>
                                            <p id="image_desc">Griffpositionen</p>
                                            <button id="delete" onclick="delClick()">Löschen</button>
                                        </td>
                                        <td id="choices">
                                            <a>Rechte Hand =</a>
                                            <div class="r position option 1" id="oR1">1</div>
                                            <div class="r position option 2" id="oR2">2</div>
                                            <div class="r position option 3" id="oR3">3</div>
                                            <div class="r position option 4" id="oR4">4</div>
                                            <br>
                                            <br>
                                            <a>Linke Hand =</a>
                                            <div class="l position option 1" id="oL1">1</div>
                                            <div class="l position option 2" id="oL2">2</div>
                                            <div class="l position option 3" id="oL3">3</div>
                                            <div class="l position option 4" id="oL4">4</div>
                                        </td>
                                    </tr>
                                </table>
                                <div id="image_container" style="background-image: url('{% static "image/image.svg" %}');">
                                    <img src="{% static "image/image.svg" %}"  id="image">
                                    <div class="r move position 1" id="pR1">1</div>
                                    <div class="r move position 2" id="pR2">2</div>
                                    <div class="r move position 3" id="pR3">3</div>
                                    <div class="r move position 4" id="pR4">4</div>
                                    <div class="l move position 1" id="pL1">1</div>
                                    <div class="l move position 2" id="pL2">2</div>
                                    <div class="l move position 3" id="pL3">3</div>
                                    <div class="l move position 4" id="pL4">4</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                    <div id="side_container">
                        <table id="side_table">
                            <tr>
                                <td>
                                    <label for="side_left">Linkskämpfer*in</label>
                                </td>
                                <td>
                                    <input type="checkbox" id="side_left" value="L" {% if fighter.primary_side != 2 %} checked {% endif %}>
                                </td>
                            </tr>
                                <td>
                                    <label for="side_right">Rechtskämpfer*in</label>
                                </td>
                                <td>
                                    <input type="checkbox" id="side_right" value="R" {% if fighter.primary_side != 1 %} checked {% endif %}>
                                </td>
                        </table>
                    </div>
                        <div id="own_container">
                            <table id="own">
                                <caption id="own_techniques">Eigene Techniken</caption>
                                <tr>
                                    <td class="own_techniques" id="own0">
                                        <button onclick="add_own(0)">+</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="own_techniques" id="own5">
                                        <button onclick="add_own(5)">+</button>
                                    </td>
                                    <td class="own_techniques" id="own1">
                                        <button onclick="add_own(1)">+</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="own_techniques" id="own4">
                                        <button onclick="add_own(4)">+</button>
                                    </td>
                                    <td class="own_techniques" id="own2">
                                        <button onclick="add_own(2)">+</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="own_techniques" id="own3">
                                        <button onclick="add_own(3)">+</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="ranks">
                <tr>
                    <td>
                        <table id="special_rank">
                            <caption>Spezialtechniken</caption>
                            <button onclick="add_rank_item('special')">+</button>
                            <tr>
                                <td id="special1" class="special"></td>
                            </tr>
                            <tr>
                                <td id="special2" class="special"></td>
                            </tr>
                            <tr>
                                <td id="special3" class="special"></td>
                            </tr>
                            <tr>
                                <td id="special4" class="special"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="ground_rank">
                            <caption>Bodentechniken</caption>
                            <button onclick="add_rank_item('ground')">+</button>
                            <tr>
                                <td id="ground1" class="ground"></td>
                            </tr>
                            <tr>
                                <td id="ground2" class="ground"></td>
                            </tr>
                            <tr>
                                <td id="ground3" class="ground"></td>
                            </tr>
                            <tr>
                                <td id="ground4" class="ground"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="combination_rank">
                            <caption>Kombinationen</caption>
                            <button onclick="add_rank_item('combination')">+</button>
                            <tr>
                                <td id="combination1" class="combination"></td>
                            </tr>
                            <tr>
                                <td id="combination2" class="combination"></td>
                            </tr>
                            <tr>
                                <td id="combination3" class="combination"></td>
                            </tr>
                            <tr>
                                <td id="combination4" class="combination"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <button onclick="if (confirm('Wirklich löschen?')){ post_data('delete') }">Löschen</button>
            <button onclick="location.href = location.href">Zurücksetzen</button>
            <button onclick="post_data('save')">Speichern</button>
            <button onclick="post_data()">Fertig</button>
        </form>
    </body>
    <script>
        const CSRF_TOKEN = document.querySelector("[name=csrfmiddlewaretoken]").value
        const techniques = document.getElementById("hidden_t").innerHTML
        const stechniques = document.getElementById("hidden_st").innerHTML
        const gtechniques = document.getElementById("hidden_gt").innerHTML
    </script> 
    <script src="{% static "script/positions.js" %}"></script>
    <script src="{% static "script/change_positions.js" %}"></script>
    <script src="{% static "script/own_techniques.js" %}"></script>
    <script src="{% static "script/ranks.js" %}"></script>
    <script src="{% static "script/post.js" %}"></script>
    <script> 
        document.querySelectorAll(".pos_data").forEach(pos => {
            position = document.getElementById(pos.dataset["id"])
            position.style.display = "flex"
            colorSelected(position.className[0] + " " + position.className.slice(-1), "black")
            placeRelative(
                position,
                pos.dataset["y"],
                pos.dataset["x"]
            )
            position.addEventListener("mousedown", mouseDownPos)
            position.setAttribute("data-id", pos.dataset["model_id"])
        })

        document.querySelectorAll(".own_data").forEach(own => {
            add_own(parseInt(own.dataset["direction"]), own.dataset)
        })

        document.querySelectorAll(".rank_data").forEach(item => {
            add_rank_item(item.dataset["type"], item.dataset)
        })
    </script>
</html>
