<html>
    {% if "main.add_fighter" in perms %}
        <a href="/new">Neu</a>
        <br>
    {% endif %}
    {% load guardian_tags %}
    {% for i in profiles %}
        {% get_obj_perms request.user for i as "i_perms" %}
        <a href="/{{ i.id }}">{{ i }}</a>
        {% if "change_fighter" in i_perms %}
            <a href="/{{ i.id }}/edit">Bearbeiten</a>
        {% endif %}
        {% if "manage_fighter" in i_perms %}
            <a href="/{{ i.id }}/manage">Zugriff verwalten</a>
        {% endif %}
        <br>
    {% endfor %}
</html>
