{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static "style/new.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <body>
        <form method="post">
            {% csrf_token %}
            <button onclick="post_data()">test</button>
            <div id="general_container">
                <p id="title">Kämpferprofil von</p>
                <input type="text" id="last_name" placeholder="Nachname">, 
                <input type="text" id="name" placeholder="Vorname">
                <input type="number" id="year" min="1900" max="2099" step="1" value="2007" placeholder="Jahrgang">
                <input type="number" id="weight" min="30" max="200" step="1" placeholder="Gewicht (kg)">
            </div>
            <table id="main">
                <tr>
                    <td>
                        <div id="visual">
                            <div id="positions">
                                <p id="image_desc">Griffpositionen</p>
                                <div id="choices">
                                    <a>Rechte Hand =</a>
                                    <div class="r position option 1" id="oR1">1</div>
                                    <div class="r position option 2" id="oR2">2</div>
                                    <div class="r position option 3" id="oR3">3</div>
                                    <div class="r position option 4" id="oR4">4</div>
                                    <br>
                                    <br>
                                    <a>Linke Hand =</a>
                                    <div class="l position option 1" id="oL1">1</div>
                                    <div class="l position option 2" id="oL2">2</div>
                                    <div class="l position option 3" id="oL3">3</div>
                                    <div class="l position option 4" id="oL4">4</div>
                                </div>
                                <br>
                                <button id="delete" onclick="delClick()">Löschen</button>
                                <div id="image_container">
                                    <img src="{% static "image/image.png" %}" id="image">
                                    <div class="r move position 1" id="pR1">1</div>
                                    <div class="r move position 2" id="pR2">2</div>
                                    <div class="r move position 3" id="pR3">3</div>
                                    <div class="r move position 4" id="pR4">4</div>
                                    <div class="l move position 1" id="pL1">1</div>
                                    <div class="l move position 2" id="pL2">2</div>
                                    <div class="l move position 3" id="pL3">3</div>
                                    <div class="l move position 4" id="pL4">4</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="side_container">
                            <table id="side_table">
                                <tr>
                                    <td>
                                        <label for="side_left">Linkskämpfer*in</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="side_left" value="L">
                                    </td>
                                </tr>
                                    <td>
                                        <label for="side_right">Rechtskämpfer*in</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="side_right" value="R">
                                    </td>
                            </table>
                        </div>
                        <div id="own_container">
                            <table id="own">
                                <caption id="own_techniques">Eigene Techniken</caption>
                                <tr>
                                    <td class="own_techniques" id="own4">
                                        <button onclick="add_own(4)">+</button>
                                    </td>
                                    <td class="own_techniques" id="own1">
                                        <button onclick="add_own(1)">+</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="own_techniques" id="own3">
                                        <button onclick="add_own(3)">+</button>
                                    </td>
                                    <td class="own_techniques" id="own2">
                                        <button onclick="add_own(2)">+</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </body>
    <script>
        var CSRF_TOKEN = "{{ csrf_token }}"
        const techniques = `
            {% for t in techniques %}
                <option value="{{ t.id }}">{{ t.name }}</option>
            {% endfor %}
        `
    </script>        
    <script src="{% static "script/positions.js" %}"></script>
    <script src="{% static "script/own_techniques.js" %}"></script>
    <script src="{% static "script/post_new.js" %}"></script>
</html>