{% extends "abstract/base.html" %}
{% load has_group %}

{% block title %}Startseite{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block profiles %}active" aria-current="page{% endblock %}

{% block actions %}
    {% if perms.profiles.add_profile %}
        <a class="nav-link" href="{% url "profiles-new" %}">Neues Profil</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <input class="form-control" type="search"
            name="search" placeholder="Profil suchen..."
            hx-post=""
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
            hx-target="#profiles"
            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
        <table class="table">
            <thead>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="profiles">
            </tbody>
        </table>
    </div>
{% endblock %}
