{% extends "abstract/base.html" %}
{% load has_group %}
{% load i18n %}

{% block title %}
{% translate "Dashboard" %}
{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block profiles %}active" aria-current="page{% endblock %}

{% block actions %}
    {% if perms.profiles.add_profile %}
        <a class="nav-link" href="{% url "profiles-new" %}">{% translate "New profile" %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <input class="form-control mx-auto" type="search"
            name="search" placeholder="{% translate "Search profile"%}..."
            hx-post=""
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
            hx-target="#profiles"
            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
        <table class="table mx-auto mt-4" style="max-width: 40rem;">
            <thead>
                <th>{% translate "Name" %}</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="profiles">
            </tbody>
        </table>
    </div>
{% endblock %}
