{% extends "abstract/base.html" %}

{% block title %}Startseite{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% if "profiles.add_profile" in perms %}
            <a class="btn btn-secondary" href="{% url "profiles-new" %}">Neu</a>
            <br>
        {% endif %}
        <input class="form-control" type="search"
            name="search" placeholder="Profil suchen..."
            hx-post=""
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
            hx-target="#profiles"
            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
        <table class="table">
            <thead>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="profiles">
            </tbody>
        </table>
    </div>
{% endblock %}
