{% extends "base.html" %}
{% load static %}

{% block title %}Profil von {{ profile.name }} verwalten{% endblock %}

{% block content %}
    <div class="container">
        <h1>Permissions</h1>
        <form method="post">
            {% csrf_token %}
            {% load guardian_tags %}
            <div id="view">
                <h3>View</h3>
                <select class="form-control" name="view_users" multiple>
                    {% for user in users %}
                        {% get_obj_perms user for profile as "profile_perms" %}
                        {% if "view_profile" in profile_perms %}
                            {% if user != profile.user %}
                                <option value="{{ user }}" selected>{{ user }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id="edit">
                <h3>Edit</h3>
                <select class="form-control" name="edit_users" multiple>
                    {% for user in users %}
                        {% get_obj_perms user for profile as "profile_perms" %}
                        {% if "change_profile" in profile_perms %}
                            <option value="{{ user }}" selected>{{ user }}</option>
                        {% else %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div id="manage">
                <h3>Manage</h3>
                <select class="form-control" name="manage_users" multiple>
                    {% for user in users %}
                        {% get_obj_perms user for profile as "profile_perms" %}
                        {% if "manage_profile" in profile_perms %}
                            <option value="{{ user }}" selected>{{ user }}</option>
                        {% else %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <br>
            <button class="btn btn-secondary">Speichern</button>
            <br><br>
        </form>
    </div>
    <div class="container">
        {% if user == profile.created_by %}
            {% if not profile.user %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" name="add">Token für neue/n Nutzer*in</button>
                </form>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    {% if profile.user.token %}
                        {% if profile.user.token.valid_for < 1 %}
                            <p>Token abgelaufen, ohne, dass er verwendet wurde</p>
                            <button class="btn btn-secondary" name="renew">Token erneuern</button>
                        {% else %}
                            <button id="toggle" class="btn btn-secondary btn-sm" onclick="toggle_token(); return false;" data-bs-toggle="button">Token anzeigen</button>
                            <div>
                                Token: <span id="token" class="invisible">{{ profile.user.token }}</span>
                            </div>
                            {% if profile.user.token.valid_for == 1 %}
                                <p>Noch gültig für 1 Tag</p>
                            {% else %}
                                <p>Noch gültig für {{ profile.user.token.valid_for }} Tage</p>
                            {% endif %}
                            <script>
                                function toggle_token(){
                                    let classes = document.getElementById("token").classList
                                    let button = document.getElementById("toggle")
                                    if (classes[0] == "invisible"){
                                        classes.remove("invisible")
                                        button.innerHTML = "Token verstecken"
                                    } else {
                                        classes.add("invisible")
                                        button.innerHTML = "Token anzeigen"
                                    }
                                }
                            </script>
                        {% endif %}
                        <button class="btn btn-secondary" name="delete">Token löschen</button>
                    {% else %}
                        <button class="btn btn-secondary" name="delete">Nutzer entfernen</button>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
