{% extends "abstract/base.html" %}

{% block title %}Profil von {{ profile.name }} verwalten{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block content %}
    {% if user == profile.created_by %}
        <div class="container">
            {% if not profile.user.token and not profile.user.is_active %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary" name="add">Token für neue/n Nutzer*in</button>
                </form>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    {% if not profile.user.is_active %}
                        {% if profile.user.token.valid_for < 1 %}
                            <p>Token abgelaufen, ohne, dass er verwendet wurde</p>
                            <button class="btn btn-secondary" name="renew">Token erneuern</button>
                        {% else %}
                            <button id="toggle" class="btn btn-secondary btn-sm" onclick="toggle_token(); return false;" data-bs-toggle="button">Token anzeigen</button>
                            <div>
                                Token: <span id="token" class="invisible">{{ profile.user.token }}</span>
                            </div>
                            {% if profile.user.token.valid_for == 1 %}
                                <p>Noch gültig für 1 Tag</p>
                            {% else %}
                                <p>Noch gültig für {{ profile.user.token.valid_for }} Tage</p>
                            {% endif %}
                            <script>
                                function toggle_token(){
                                    let classes = document.getElementById("token").classList
                                    let button = document.getElementById("toggle")
                                    if (classes[0] == "invisible"){
                                        classes.remove("invisible")
                                        button.innerHTML = "Token verstecken"
                                    } else {
                                        classes.add("invisible")
                                        button.innerHTML = "Token anzeigen"
                                    }
                                }
                            </script>
                        {% endif %}
                        <button class="btn btn-secondary" name="delete_token">Token löschen</button>
                    {% else %}
                        <button class="btn btn-secondary" name="delete_user">Nutzer deaktivieren</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% endif %}
    <div class="container">
        <h1>Permissions</h1>
        <form hx-post=""
            hx-swap="innerHTML settle:3s"
            hx-target="#success">
                {% csrf_token %}
                <select id="permission" name="permission" class="form-select">
                    <option value="view_profile">View</option>
                    <option value="change_profile">Edit</option>
                    <option value="manage_profile">Manage</option>
                </select>
                <input class="form-control" id="search" type="search"
                    name="search" placeholder="Benutzer*in suchen..."
                    hx-post=""
                    hx-target="#users"
                    hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                    hx-include="#permission"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
            <table class="table">
                <thead>
                <th>User</th>
                </thead>
                <tbody id="users"></tbody>
            </table>
            <br>
            <input class="btn btn-secondary" type="submit" name="update" value="Speichern">
            <span id="success"></span>
            <style>
                #success.htmx-settling {
                    opacity: 100;
                }

                #success {
                    opacity: 0;
                    transition: opacity 3s ease-out;
                }
            </style>
            <br><br>
        </form>
    </div>
{% endblock %}
