{% for user in users %}
    <tr>
        <td>
            {{ user }}
            {% if not user.is_acive %}
                inaktiv
            {% endif %}
            {% if "Trainer" in user.groups__name %}
                Trainer
            {% endif %}
        </td>
        <td>
            {{ user.last_name }}, {{ user.first_name }}
        </td>
        <td>
            <input type="hidden" name="delete" value="{{ user }}">
            <input type="submit" value="Löschen">
        </td>
    </tr>
{% endfor %}
