{% extends "abstract/base.html" %}
{% load has_group %}
{% load i18n %}

{% block title %}{% blocktranslate with user=user %}Permissions of {{ user }}{% endblocktranslate %}{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script>
        async function copy_token(button){
            let token = button.parentElement.children[0].value
            await navigator.clipboard.writeText(token)
            button.children[0].classList.replace("bi-clipboard", "bi-clipboard-check")
        }
        function toggle_token(button){
            var input = button.parentElement.children[0]
            if (input.type == "text"){
                input.type = "password"
                button.children[0].classList.replace("bi-eye-slash", "bi-eye")
            } else {
                input.type = "text"
                button.children[0].classList.replace("bi-eye", "bi-eye-slash")
            }
        }
    </script>
{% endblock %}

{% block manage %}active" aria-current="page{% endblock %}

{% block admin_actions %}
    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#trainer_modal">
    {% if not user|has_group:"Trainers" %}
        {% translate "Add to trainers" %}
    {% else %}
        {% translate "Remove from trainers" %}
    {% endif %}
    </button>
    {% if request.user.is_superuser %}
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#staff_modal">
        {% if not user.is_staff %}
            {% translate "Add to staff" %}
        {% else %}
            {% translate "Remove from staff" %}
        {% endif %}
        </button>
    {% endif %}
    {% if user.is_active %}
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#deactivate_modal">{% translate "Deactivate" %}</button>
    {% endif %}
    {% if request.user.is_superuser %}
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#delete_modal">{% translate "Delete" %}</button>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <h2 class="col text-center">{% blocktranslate with user=user %}Permissions of {{ user }}{% endblocktranslate %}</h2>
        <form method="post" class="col">
                {% csrf_token %}
                <input type="hidden" name="token">
                <div class="d-flex justify-content-center">
                    {% if not user.token and not user.is_active %}
                        <button class="btn btn-secondary text-nowrap" name="add"
                            hx-post=""
                            hx-trigger="click"
                            hx-target="#token_group"
                            hx-on::after-request="if(event.detail.successful) new bootstrap.Modal('#token_modal').show()"
                            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                        >{% translate "Create key" %}</button>
                    {% else %}
                        {% if not user.is_active or user.token %}
                            <table class="text-center">
                                <tr>
                                    {% if user.token.valid_for < 1 %}
                                        <td class="pe-3">{% translate "Key expired, without being used" %}</td>
                                        <td><button class="btn btn-secondary text-nowrap" name="renew"
                                                hx-post=""
                                                hx-trigger="click"
                                                hx-target="#token_group"
                                                hx-on::after-request="if(event.detail.successful) new bootstrap.Modal('#token_modal').show()"
                                                hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                                            >{% translate "Renew key" %}</button></td>
                                    {% endif %}
                                    <td><button class="btn btn-secondary text-nowrap" name="delete">{% translate "Delete key" %}</button></td>
                                </tr>
                            </table>
                        {% else %}
                            <button class="btn btn-secondary text-nowrap" name="reset"
                                hx-post=""
                                hx-trigger="click"
                                hx-target="#token_group"
                                hx-on::after-request="if(event.detail.successful) new bootstrap.Modal('#token_modal').show()"
                                hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                            >{% translate "Create key to reset the password" %}</button>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="token_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="token_modal_label" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="token_modal_label">{% translate "Generated key" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>{{ days }}</li>
                        <li>
                            {% translate "Username" %}: {{ user }}
                        </li>
                        <li>
                            {% translate "Copy the key now - You won't able to see it again" %}
                        </li>
                    </ul>
                    <div id="token_group" class="input-group"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Ok" %}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("token_modal").addEventListener("hide.bs.modal", () => {
            location.reload();
        });
    </script>

    <div class="container">
        {% if user.is_active %}
            <form hx-post=""
                hx-swap="innerHTML settle:3s"
                hx-target="#success">
                {% csrf_token %}
                <select id="permission" name="permission" class="form-select mb-2 mx-auto">
                    <option value="view_profile">{% translate "View" %}</option>
                    {% if user|has_group:"Trainers" %}
                        <option value="change_profile">{% translate "Edit" %}</option>
                    {% endif %}
                </select>
                <input class="form-control mx-auto" id="search" type="search"
                    name="search" placeholder="{% translate "Search profile" %}..."
                    aria-label="{% translate "Search profile" %}"
                    hx-post=""
                    hx-target="#profiles"
                    hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                    hx-include="#permission"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
                <table class="table mx-auto mt-4" style="max-width: 40rem;">
                    <thead>
                        <th>{% translate "Profile" %}</th>
                    </thead>
                    <tbody id="profiles"></tbody>
                </table>
                <table class="mx-auto text-center mt-4">
                    <tr>
                        <td>
                            <input class="btn btn-secondary" type="submit" name="update" value="{% translate "Save" %}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="success" class="text-center mt-2"></div>
                        </td>
                    </tr>
                </table>
                <style>
                    #success.htmx-settling {
                        opacity: 100;
                    }

                    #success {
                        opacity: 0;
                        transition: opacity 3s ease-out;
                    }
                </style>
            </form>
        {% else %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning m-5">{% translate "Permissions can only be changed for active users" %}</div>
            </div>
        {% endif %}
    </div>

    <div id="modals">
        <div class="modal fade" id="trainer_modal" tabindex="-1" aria-labelledby="trainer_modal_label" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="trainer_modal_label">
                            {% if not user|has_group:"Trainers" %}
                                {% translate "Add to trainers" %}?
                            {% else %}
                                {% translate "Remove from trainers" %}?
                            {% endif %}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% blocktranslate with user=user %}{{ user }} will be able to create profiles in the future{% endblocktranslate %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user">
                            <input type="submit" name="trainer" class="btn btn-secondary" value="{% translate "Ok" %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deactivate_modal" tabindex="-1" aria-labelledby="deactivate_modal_label" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deactivate_modal_label">{% translate "Deactivate" %}?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% blocktranslate with user=user %}{{ user }} will be marked as inactive and won't be able to use his/her account until it's activated again (with a key).{% endblocktranslate %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user">
                            <input type="submit" name="deactivate" class="btn btn-secondary" value="{% translate "Ok" %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.is_superuser %}
            <div class="modal fade" id="staff_modal" tabindex="-1" aria-labelledby="staff_modal_label" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staff_modal_label">
                                {% if not user.is_staff %}
                                    {% translate "Add to staff" %}?
                                {% else %}
                                    {% translate "Remove from staff" %}?
                                {% endif %}
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% blocktranslate with user=user %}{{ user }} will have access to all management pages{% endblocktranslate %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user">
                                <input type="submit" name="staff" class="btn btn-secondary" value="{% translate "Ok" %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete_modal_label" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="delete_modal_label">{% translate "Delete" %}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% blocktranslate with user=user %}Really delete {{ user }} permanently?{% endblocktranslate %}<br>{% if user|has_group:"Trainers" %}{% blocktranslate with user=user %}All profiles created by {{ user }} will be deleted!!{% endblocktranslate %}{% else %}{% blocktranslate with user=user %}The profile of {{ user }} will also be deleted!{% endblocktranslate %}{% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user">
                                <input type="submit" name="delete" class="btn btn-danger" value="{% translate "Ok" %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
