{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% translate "Manage account" %}{% endblock %}

{% block update %}active" aria-current="page{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form id="language_form" action="{% url "set_language" %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <table>
                <tr>
                    <td>
                        <label for="#languages" class="d-inline me-3">{% translate "Select language" %}:</label>
                    </td>
                    <td>
                        <select id="languages" name="language" class="form-select">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <script>
            document.getElementById("languages").addEventListener("change", () => {
                document.getElementById("language_form").submit();
            });
        </script>
    </div>
    <hr class="mx-auto" style="width: 30rem;">
    <div class="d-flex justify-content-center">
        <form id="form" method="post" style="width: 27rem;">
            {% csrf_token %}
            {% if wrong %}
                <div class="alert alert-danger mx-auto" style="width: fit-content;">
                    {% translate "Wrong password" %}
                </div>
            {% endif %}
            <div id="pass_warn" class="alert alert-warning mx-auto d-none" style="width: fit-content;">
                {% translate "The passwords don't match" %}
            </div>
            <input type="password" class="form-control"name="pass" placeholder="{% translate "Current password" %}" required>
            <br>
            <input id="pass1" type="password" class="form-control" name="new_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="{% translate "New password" %}" required>
            <ul>
                <li>{% translate "8 characters minimum" %}</li>
                <li>{% translate "one lower and one upper case character minimum" %}</li>
                <li>{% translate "one number minimum" %}</li>
            </ul>
            <input id="pass2" type="password" class="form-control" name="new_pass_confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="{% translate "Repeat new password" %}" required>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-secondary mt-4" value="{% translate "Change password" %}">
            </div>
        </form>
        <script>
            document.getElementById("form").onsubmit = function(){
                if (document.getElementById("pass1").value != document.getElementById("pass2").value){
                    document.getElementById("pass_warn").classList.remove("d-none")
                    return false
                }
            }
        </script>
    </div>
    {% if not request.user.is_superuser %}
        <hr class="mx-auto" style="width: 30rem;">
        <div class="d-flex justify-content-center">
            <form method="post" onsubmit="if (!confirm('{% translate "This will delete all data that is linked to this account permanently! Really delete everything?" %}')){ return false }">
                {% csrf_token %}
                <button class="btn btn-danger" name="delete">Konto und Daten löschen</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
