{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% translate "Imprint" %}{% endblock %}

{% block content %}
    <div class="container" style="max-width: 30rem;">
        <h2 class="text-center my-5">{% translate "Imprint" %}</h2>
        <div id="imprint" class="d-flex justify-content-center">{{ imprint }}</div>
    </div>
{% endblock %}

{% block script %}
    <script>
        marked.use({
            breaks: true,
        });
        document.getElementById("imprint").innerHTML = marked.parse(document.getElementById("imprint").innerHTML);
    </script>
{% endblock %}
