{% extends "abstract/base.html" %}
{% load i18n %}

{% block title %}{% translate "Server information" %}{% endblock %}

{% block style %}
    <style>
        .form-control {
            resize: both;
            max-width: 95%;
            width: 35rem;
        }
    </style>
{% endblock %}

{% block admin_actions %}
    <a class="nav-link active" href="">{% translate "Setup" %}</a>
    <a class="nav-link" href="{% url "techniques" %}">{% translate "Techniques" %}</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-5 mb-4">{% translate "Server information" %}</h2>
        <div class="form-floating">
            <form method="post">
                {% csrf_token %}
                <div class="text-center">
                    <label for="info">{% translate "Imprint <i>Required</i>" %} <i class="bi bi-markdown-fill" title="Markdown"></i></label>
                </div>
                <textarea id="imprint" name="imprint" class="form-control mt-1 mb-4 mx-auto" required>{% if info.imprint %}{{ info.imprint }}{% endif %}</textarea>
                <div class="text-center">
                    <label for="contact">{% translate "Privacy contact <i>Optional</i>" %} <i class="bi bi-markdown-fill" title="Markdown"></i></label>
                </div>
                <textarea id="contact" name="contact" class="form-control mt-1 mb-3 mx-auto">{% if info.privacy_contact %}{{ info.privacy_contact }}{% endif %}</textarea>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-secondary" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.querySelectorAll("textarea").forEach(element => {
            ["load", "input"].forEach(event => {
                element.addEventListener(event, () => {
                    element.style.height = "";
                    element.style.height = element.scrollHeight + 3 + "px";
                });
            });
            element.style.height = "";
            element.style.height = element.scrollHeight + 3 + "px";
        });
    </script>
{% endblock %}
