{% load i18n %}

{% if users %}
    {% load guardian_tags %}
    {% for user in users %}
        {% get_obj_perms user for profile as "profile_perms" %}
        <tr>
            <td>
                {% if permission in profile_perms %}
                    <input class="form-check-input" type="checkbox" name="{{ user.id }}" aria-label="{{ user }}" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="{{ user.id }}" aria-label="{{ user }}">
                {% endif %}
                <span>{{ user }}</span>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>
            <div class="mx-auto text-center">{% translate "No matching users found" %}</div>
        </td>
    </tr>
{% endif %}
