{% load i18n %}

{% if profiles %}
    {% load guardian_tags %}
    {% for i in profiles %}
        {% get_obj_perms request.user for i as "i_perms" %}
        <tr>
            <td><a class="link-body-emphasis link-underline-opacity-0" href="{% url "profile" i.user.username %}">{{ i }}</a></td>
            <td>
                {% if request.user == i.user %}
                    <span class="badge text-bg-info">{% translate "own" %}</span>
                {% elif request.user == i.creator %}
                    <span class="badge text-bg-warning">{% translate "creator" %}</span>
                {% endif %}
                {% if request.user == i.manager %}
                    <span class="badge text-bg-success">{% translate "manager" %}</span>
                {% endif %}
            </td>
            <td class="text-end">
                {% if "change_profile" in i_perms %}
                <a class="link-body-emphasis link-underline-opacity-0" href="{% url "edit-profile" i.user.username %}">{% translate "Edit" %}</a>
                {% endif %}
            </td>
            <td class="text-end">
                {% if "manage_profile" in i_perms %}
                <a class="link-body-emphasis link-underline-opacity-0 me-1" href="{% url "manage-profile" i.user.username %}">{% translate "Manage access" %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="4">
                <div class="mx-auto text-center">{% translate "No profiles found" %}</div>
        </td>
    </tr>
{% endif%}
