{% load i18n %}
{% load in_use %}

{% if not changed %}
    <tr>
        <td><input id="codename_new"type="text" name="codename" class="form-control" maxlength="3" placeholder="{% translate "Codename" %}"></td>
        <td><input id="name_new" type="text" name="name" class="form-control" placeholder="{% translate "Name" %}"></td>
        <td colspan="2">
            <select id="type_new" name="type" class="form-control">
                <option value="S">{% translate "Standing" %}</option>
                <option value="G">{% translate "Ground" %}</option>
            </select>
        </td>
        <td><button class="btn btn-outline-secondary"
            onclick="document.getElementById('refresh').click()"
            name="add"
            hx-post=""
            hx-target="#refresh"
            hx-trigger="click"
            hx-include="#codename_new, #name_new, #type_new"
            hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
        >{% translate "Add" %}</button></td>
    </tr>
{% endif %}

{% if techniques %}
    {% for i in techniques %}
    {% if not changed %}
        <tr id="technique_{{ i.id }}">
    {% endif %}
            <td class="d-auto">{{ i.codename }}</td>
            <td class="text-nowrap d-auto">{{ i.name }}</td>
            <td class="text-center d-auto">{% if i.type == "S" %}{% translate "Standing" %}{% else %}{% translate "Ground" %}{% endif %}</td>
            <td class="d-auto">
                <button class="btn btn-sm btn-outline-secondary btn_{{ i.id }}" onclick="toggle_edit('{{ i.id }}')">{% translate "Edit" %}</button>
                <button class="btn btn-sm btn-outline-danger d-none btn_{{ i.id }}"
                    onclick="document.getElementById('refresh').click()"
                    name="delete"
                    hx-post=""
                    hx-trigger="click"
                    hx-target="#technique_{{ i.id }}"
                    hx-include="#id_{{ i.id }}"
                    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
                >{% translate "Ok" %}</button>
            </td>
            <td class="d-auto">
                <button class="btn btn-sm btn-outline-danger me-2 btn_{{ i.id }}"{% if i|in_use %} disabled>{% translate "In use" %}{% else %} onclick="toggle_delete('.btn_{{ i.id }}')">{% translate "Delete" %}{% endif %}</button>
                <button class="btn btn-sm btn-outline-secondary d-none btn_{{ i.id }}" onclick="toggle_delete('.btn_{{ i.id }}')">{% translate "Cancel" %}</button>
            </td>

            <td class="d-none"><input id="codename_{{ i.id }}" type="text" name="codename" class="form-control" maxlength="3" value="{{ i.codename }}"></td>
            <td class="d-none"><input id="name_{{ i.id }}" type="text" name="name" class="form-control" value="{{ i.name }}"></td>
            <td class="d-none" colspan="2">
                <select id="type_{{ i.id }}" name="type" class="form-control">
                    <option value="S">{% translate "Standing" %}</option>
                    <option value="G"{% if i.type == "G" %} selected{% endif %}>{% translate "Ground" %}</option>
                </select>
            </td>
            <td class="d-none"><input id="id_{{ i.id }}" type="hidden" name="id" value="{{ i.id }}">
            <button class="btn btn-outline-secondary"
                name="change"
                hx-post=""
                hx-trigger="click"
                hx-target="#technique_{{ i.id }}"
                hx-include="#id_{{ i.id }}, #codename_{{ i.id }}, #name_{{ i.id }}, #type_{{ i.id }}"
                hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
            >{% translate "Save" %}</button></td>
    {% if not changed %}
        </tr>
    {% endif %}
    {% endfor %}
{% else %}
    <tr>
        <td colspan="5">
            <div class="mx-auto text-center">{% translate "No techniques found" %}</div>
        </td>
    </tr>
{% endif%}
