{% load i18n %}

{% if profiles %}
    {% load guardian_tags %}
    {% for profile in profiles %}
        {% get_obj_perms user for profile as "profile_perms" %}
        <tr>
            <td>
                {% if permission in profile_perms %}
                    <input class="form-check-input" type="checkbox" name="{{ profile.id }}" aria-label="{{ profile }}" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="{{ profile.id }}" aria-label="{{ profile }}">
                {% endif %}
                <span>{{ profile }}</span>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>
            <div class="mx-auto text-center">{% translate "No profiles found" %}</div>
        </td>
    </tr>
{% endif %}
