.move {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background-color: var(--bs-body-bg);
}

.option {
    display: inline-block;
    cursor: pointer;
}

.position {
    text-align: center;
    align-items: center;
    height: 16pt;
    width: 16pt;
    border-width: thick;
    border-color: grey;
    color: grey;
    border-style: solid;
    text-align: center;
    font-weight: bold;
    user-select: none;
    box-sizing: unset;
}

.position.active {
    color: var(--bs-body-color);
    border-color: var(--bs-body-color);
}

.move.active {
    display: flex;
}

.position.delete {
    color: red;
    border-color: red;
    cursor: crosshair;
}

.position.r {
    border-radius: 0;
}

.position.l {
    border-radius: 50%;
}

#image {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
}

#image_container {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rank_item {
    text-align: center;
    vertical-align: middle;
}

#own {
    table-layout: fixed;
}

.own_techniques {
    table-layout: fixed;
}

.own_techniques td {
    width: 100%;
}

#general_container {
    width: fit-content;
}

#own>tbody>tr>td,
#own>tbody>tr>td>div {
    width: 25rem;
}

#general_info>div {
    padding: 0.5rem;
}
