{% if users %}
    {% load has_group %}
    {% for user in users %}
        <tr>
            <td>
                <a class="link-body-emphasis link-underline-opacity-0" href="{% url "users-user" user %}">{{ user }}</a>
            </td>
            <td>
                {% if not user.is_active %}
                    <span class="badge text-bg-secondary">inaktiv</span>
                {% else %}
                    <span class="badge text-bg-success">aktiv</span>
                {% endif %}
                {% if user.token %}
                    {% if user.token.valid_for < 1 %}
                        <span class="badge text-bg-secondary">token abgelaufen</span>
                    {% else %}
                        <span class="badge text-bg-info">token erstellt</span>
                    {% endif %}
                {% endif %}
                {% if user|has_group:"Trainers" %}
                    <span class="badge text-bg-warning">trainer*in</span>
                {% elif not user.profile %}
                    <span class="badge text-bg-danger">ohne profil</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <div class="container text-center"><p>Keine Nutzer*innen gefunden</p></div>
{% endif %}
