.move {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.option {
    display: inline-block;
    cursor: pointer;
}
.position {
    height: 16pt;
    width: 16pt;
    border-width: 4pt;
    border-color: grey;
    border-style: solid;
    background-color: white;
    text-align: center;
    font-weight: bold;
    user-select: none;
}
.r {
    border-radius: 0px;
}
.l {
    border-radius: 50%;
}
#image {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline;
    visibility: hidden;
}
#choices {
    width: max-content;
    height: max-content;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 6px;
    margin: 3px;
    display: inline-block;
    margin-left: 15%;
}
#image_container {
    width: fit-content;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
}
#image_desc {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: fit-content;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
}
button {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: fit-content;
    background-color: white;
    cursor: pointer;
}
#positions {
    width: auto;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 6px;
    margin: 3px;
}
#visual {
    width: fit-content;
    display: inline;
}
.own_techniques {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: .25cm;
    height: 7cm;
    width: 15cm;
}
.own_technique {
    padding: 2%;
}
#own_container, #ranks {
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
#side_container {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin-bottom: 7%;
    padding: 2.5%;
}
#general_container {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding: 1%;
}
label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
    display: none;
}
#delete {
    display: block;
}
.number {
    display: inline;
}
#ranks {
    width: 100%;
}
.rank_item {
    text-align: center;
    vertical-align: middle;
}
