{% extends "abstract/base.html" %}
{% load has_group %}

{% block title %}Berechtigungen von {{ user }}{% endblock %}

{% block style %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block manage %}active" aria-current="page{% endblock %}

{% block admin_actions %}
    {% if user.is_active %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="deactivate" value="{{ user }}">
            <input type="submit" class="nav-link" value="Deaktivieren">
        </form>
    {% endif %}
    <form onsubmit="if (!confirm('{{ user }} wirklich unwiederruflich löschen?\n{% if user|has_group:"Trainers" %}Alle, von {{ user }} erstellten Profile werden gelöscht!!{% else %}Auch das Profil von {{ user }} wird gelöscht!{% endif %}')){ return false }" method="post">
        {% csrf_token %}
        <input type="hidden" name="delete" value="{{ user }}">
        <input type="submit" class="nav-link" value="Löschen">
    </form>
{% endblock %}

{% block content %}
        <div class="container">
            <form method="post">
            {% csrf_token %}
                <div class="d-flex justify-content-end">
                    {% if not user.token and not user.is_active %}
                        <button class="btn btn-secondary" name="add">Token erstellen</button>
                    {% else %}
                        {% if not user.is_active or user.token %}
                            <table class="text-center">
                                <tr>
                                    {% if user.token.valid_for < 1 %}
                                        <td class="pe-3">Token abgelaufen, ohne, dass er verwendet wurde</td>
                                        <td><button class="btn btn-secondary" name="renew">Token erneuern</button></td>
                                    {% else %}
                                        <td class="pe-3">
                                            {% if user.token.valid_for == 1 %}
                                                Noch gültig für 1 Tag
                                            {% else %}
                                                Noch gültig für {{ user.token.valid_for }} Tage
                                            {% endif %}
                                        </td>
                                        <td class="pe-2"><button id="copy" class="btn btn-secondary" onclick="copy_token('{{ user.token }}'); return false;">Token kopieren</button></td>
                                        <script>
                                            const delay = ms => new Promise(res => setTimeout(res, ms))
                                            async function copy_token(token){
                                                const button = document.getElementById("copy")
                                                await navigator.clipboard.writeText(token)
                                                button.innerHTML = "Token kopiert"
                                                button.classList.add("active")
                                                await delay(1500)
                                                button.innerHTML = "Token kopieren"
                                                button.classList.remove("active")
                                            }
                                        </script>
                                    {% endif %}
                                    <td><button class="btn btn-secondary" name="delete_token">Token löschen</button></td>
                                </tr>
                            </table>
                        {% else %}
                            <button class="btn btn-secondary" name="reset">Token zum Passwort zurücksetzen erstellen</button>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    <div class="container">
        <h2 class="mb-2">Berechtigungen von {{ user }}</h2>
        {% if user.is_active %}
            <form hx-post=""
                hx-swap="innerHTML settle:3s"
                hx-target="#success">
                    {% csrf_token %}
                    <select id="permission" name="permission" class="form-select mb-2">
                        <option value="view_profile">Anzeigen</option>
                        {% if user|has_group:"Trainers" %}
                            <option value="change_profile">Bearbeiten</option>
                            <option value="manage_profile">Verwalten</option>
                        {% endif %}
                    </select>
                    <input class="form-control" id="search" type="search"
                        name="search" placeholder="Profil suchen..."
                        hx-post=""
                        hx-target="#profiles"
                        hx-trigger="input changed delay:500ms, keyup[key=='Enter'], change from:#permission, load"
                        hx-include="#permission"
                        hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'>
                <table class="table">
                    <thead>
                        <th>Profil</th>
                    </thead>
                    <tbody id="profiles"></tbody>
                </table>
                <br>
                <input class="btn btn-secondary" type="submit" name="update" value="Speichern">
                <span id="success"></span>
                <style>
                    #success.htmx-settling {
                        opacity: 100;
                    }

                    #success {
                        opacity: 0;
                        transition: opacity 3s ease-out;
                    }
                </style>
            </form>
        {% else %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning m-5">Die Berechtigungen können erst angepasst werden, wenn der/die Benutzer*in aktiv ist.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
