{% extends "abstract/base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block admin_actions %}
    <a class="nav-link active" href="">Neue/r Trainer*in</a>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" style="width: 27rem;">
            {% csrf_token %}
            <input type="text" class="form-control" name="first_name" placeholder="Vorname" required>
            <input type="text" class="form-control my-2" name="last_name" placeholder="Nachname" required>
            <input type="submit" class="btn btn-secondary mt-2" value="Token erstellen">
        </form>
    </div>
{% endblock %}
