{% load guardian_tags %}
{% for i in profiles %}
    {% get_obj_perms request.user for i as "i_perms" %}
    <tr>
        <td><a href="{% url "profiles-profile" i.id %}">{{ i }}</a>{% if request.user == i.user %} (Eigenes Profil){% endif %}</td>
        <td>
            {% if "change_profile" in i_perms %}
                <a href="{% url "profiles-profile-edit" i.id %}">Bearbeiten</a>
            {% endif %}
        </td>
        <td>
            {% if "manage_profile" in i_perms %}
                <a href="{% url "profiles-profile-manage" i.id %}">Zugriff verwalten</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
