{% extends "abstract/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "style/main.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    {% block style2 %}{% endblock %}
{% endblock %}

{% block content %}
    <div id="hidden_data" class="hidden">
        {% block hidden_data %}{% endblock %}
    </div>
    {% block form_container %}<div id="form_container">{% endblock %}
    <div id="general_container" class="container d-flex justify-content-center border rounded">
        <table>
            <tr>
                <td>
                    <p id="title" style="margin-top: 1rem;"><b>Kämpferprofil von</b></p>
                    <div  id="general_info" class="d-flex align-items-center flex-wrap justify-content-center mb-1">
                        <!-- <tr> -->
                            {% block general_info %}{% endblock %}
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            <label class="form-check-label" for="side_left">Linkskämpfer*in</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-check-input" id="side_left" name="left" value="L" {% block opts_left %}required{% endblock %}>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-check-label" for="side_right">Rechtskämpfer*in</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-check-input" id="side_right" name="right" value="R" {% block opts_right %}required{% endblock %}>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <!-- </tr> -->
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="main" class="d-flex align-items-center flex-wrap justify-content-center">
        <div id="positions" class="border rounded m-2" style="width: 32.6rem;">
            <table class="table mt-1">
                <tr>
                    <td>
                        <h3 id="image_desc" class="mb-3">Griffpositionen</h3>
                        {% block delete_positions %}{% endblock %}
                    </td>
                    <td id="choices">
                        <span>Rechte Hand :</span>
                        <div class="r position option 1" id="oR1">1</div>
                        <div class="r position option 2" id="oR2">2</div>
                        <div class="r position option 3" id="oR3">3</div>
                        <div class="r position option 4" id="oR4">4</div>
                        <br>
                        <br>
                        <span>Linke Hand :</span>
                        <div class="l position option 1" id="oL1">1</div>
                        <div class="l position option 2" id="oL2">2</div>
                        <div class="l position option 3" id="oL3">3</div>
                        <div class="l position option 4" id="oL4">4</div>
                    </td>
                </tr>
            </table>
            <div id="image_container">
                {% include "profiles/judogi.svg" %}
                <div class="r move position 1" id="pR1">1</div>
                <div class="r move position 2" id="pR2">2</div>
                <div class="r move position 3" id="pR3">3</div>
                <div class="r move position 4" id="pR4">4</div>
                <div class="l move position 1" id="pL1">1</div>
                <div class="l move position 2" id="pL2">2</div>
                <div class="l move position 3" id="pL3">3</div>
                <div class="l move position 4" id="pL4">4</div>
            </div>
        </div>
        <div class="border rounded m-2">
            <div class="table-responsive container" style="padding-left: unset; padding-right: unset;"> 
                <table id="own" class="table table-borderless caption-top m-2 text-nowrap" style="width: auto;">
                    <caption id="own_techniques">Eigene Techniken</caption>
                    <tr class="align-bottom">
                        <td>
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own5">
                                </table>
                                    {% block own5 %}{% endblock %}
                            </div>
                        </td>
                        <td class="align-top">
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own0">
                                </table>
                                {% block own0 %}{% endblock %}
                            </div>
                        </td>
                        <td>
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own1">
                                </table>
                                    {% block own1 %}{% endblock %}
                            </div>
                        </td>
                    </tr>
                    <tr class="align-top">
                        <td>
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own4">
                                </table>
                                    {% block own4 %}{% endblock %}
                            </div>
                        </td>
                        <td class="align-bottom">
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own3">
                                </table>
                                    {% block own3 %}{% endblock %}
                            </div>
                        </td>
                        <td>
                            <div class="border rounded text-center">
                                <table class="own_techniques m-2" id="own2">
                                </table>
                                    {% block own2 %}{% endblock %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container border rounded ">
        <table id="ranks" class="table table-responsive">
            <tr>
                <td class="rank" colspan="5">
                    <table id="special_rank">
                        <caption>Spezialtechniken</caption>
                        {% block special %}{% endblock %}
                    </table>
                </td>
                <td class="rank" colspan="4">
                    <table id="ground_rank">
                        <caption>Bodentechniken</caption>
                        {% block ground %}{% endblock %}
                    </table>
                </td>
                <td class="rank" colspan="8">
                    <table id="combination_rank">
                        <caption>Kombinationen</caption>
                        {% block combination %}{% endblock %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    {% block buttons %}{% endblock %}
    {% block form_container_end %}</div>{% endblock %}
{% endblock %}

{% block script %}
    <script src="{% static "script/positions.js" %}"></script>
    {% block script2 %}{% endblock %}
{% endblock %}
