{% extends "abstract/base.html" %}

{% block title %}Login{% endblock %}

{% block login %}active" aria-current="page{% endblock %}

{% block content %}
    <div class="container">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input class="form-control" type="text" name="user" placeholder="Benutzername" required>
            <input class="form-control" type="password" name="pass" placeholder="Passwort" required>
            <input class="btn btn-secondary" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}
