{% extends "base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <input type="password" class="form-control"name="pass" placeholder="aktuelles Passwort" required>
            <br>
            <input type="password" class="form-control" name="new_pass" placeholder="neues Passwort" required>
            <input type="password" class="form-control" name="new_pass_confirm" placeholder="neues Passwort wiederholen" required>
            <input type="submit" class="btn btn-secondary" value="Passwort ändern">
        </form>
    </div>
{% endblock %}
